.gallery{
	width:110%;
	margin-right:50px;
	margin-left:4px;
    margin-top:0px;

}

.lb-album li{
	float: left;
	margin: 6px;
	position: relative;
	display:inline;
}
.lb-album li > a,
.lb-album li > a img{
	display: block;
	width:100%;
}
.lb-album li > a{
	width: 180px;
	height: 180px;
	position: relative;
	padding: 0px;
	background: #394d65;
	-webkit-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	-moz-box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	box-shadow: 1px 1px 2px #fff, 1px 1px 2px rgba(158,111,86,0.3) inset;
	/*-moz-border-radius: 4px;*/
	/*-webkit-border-radius: 4px;*/
	/*border-radius: 4px 4px 4px 4px;*/
}
.lb-album li > a span{
    font-family:arial;
	position: absolute;
	width: 180px;
	height: 180px;
	top: 0px;
	left: 0px;
	text-align: center;
	line-height: 150px;
	color: rgba(27,54,81,0.8);
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
	font-size: 24px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	background: rgba(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, #394d65 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#394d65), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}
.lb-album li > a:hover span{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-overlay{
	width: 0px;
	height: 0px;
	position: fixed;
	overflow: hidden;
	left: 0px;
	top: 0px;
	padding: 0px;
	z-index: 99;
	text-align: center;
	background: rgba(241,210,194);
	background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%, #394d65 100%);
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#394d65), color-stop(100%,rgba(241,210,194,1)));
	background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: -o-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: -ms-radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
	background: radial-gradient(center, ellipse cover, rgba(255,255,255,0.56) 0%,#394d65 100%);
}
.lb-overlay > div{
	position: relative;
	color: rgba(27,54,81,0.8);
	width: 180px;
	height: 180px;width: 180px;
	height: 180px;
	margin: 40px auto 0px auto;
	text-shadow: 0px 1px 1px rgba(255,255,255,0.6);
}
.lb-overlay div h3,
.lb-overlay div p{
	padding: 0px 20px;
	width: 200px;
	height: 60px;
}
.lb-overlay div h3{
	font-size: 36px;
	float: left;
	text-align: right;
	border-right: 1px solid rgba(27,54,81,0.4);
}
.lb-overlay div h3 span,
.lb-overlay div p{
	font-size: 16px;
	font-family: Constantia, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	font-style: italic;
}
.lb-overlay div h3 span{
	display: block;
	line-height: 6px;
}
.lb-overlay div p{
	font-size: 14px;
	text-align: left;
	float: left;
	width: 260px;
}
.lb-overlay a.lb-close{
    font-family:arial;
    text-decoration:none;
	background: rgba(27,54,81,0.8);
	z-index: 1001;
	color: #fff;
	position: absolute;
	top: 43px;
	left: 50%;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	width: 40px;
	height: 25px;
	overflow: hidden;
	margin-left: 100px;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
	box-shadow: 0px 1px 2px rgba(0,0,0,0.3);
}
.lb-overlay img{
	/* height: 100%; For Opera max-height does not seem to work */
	
	max-height: 100%;
	position: relative;
	opacity: 0;
	filter: alpha(opacity=0); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=0)"; /*IE8*/
	-webkit-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	-moz-box-shadow: 1px 1px 4px rgba(0,0,0,0.3);
	box-shadow: 0px 2px 7px rgba(0,0,0,0.2);
	-webkit-transition: opacity 0.5s linear;
	-moz-transition: opacity 0.5s linear;
	-o-transition: opacity 0.5s linear;
	-ms-transition: opacity 0.5s linear;
	transition: opacity 0.5s linear;
}
.lb-prev, .lb-next{
	text-indent: -9000px;
	position: absolute;
	top: -32px;
	width: 50px;
	height: 40px;
	left: 50%;
	/*opacity: 1;*/
	filter: alpha(opacity=80); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=80)"; /*IE8*/
}
.lb-prev:hover, .lb-next:hover{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
.lb-prev{
	margin-left: -60px;
	background: transparent url("img/arrow-left.png") no-repeat top left;
}
.lb-next{
	margin-left: 10px;
	background: transparent url("img/arrow-right.png") no-repeat top right;
}
.lb-overlay:target {
	width: auto;
	height: auto;
	bottom: 0px;
	right: 0px;
	padding: 80px 100px 120px 100px;
}
.lb-overlay:target img,
.lb-overlay:target a.lb-close{
	opacity: 1;
	filter: alpha(opacity=99); /* internet explorer */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(opacity=99)"; /*IE8*/
}
/* 
	100% Height for Opera as the max-height seems to be ignored, not optimal for large screens 
	http://bricss.net/post/11230266445/css-hack-to-target-opera 
*/
x:-o-prefocus, .lb-overlay img {
    height: 100%;
}




body{
    margin: 0 auto 0 auto;
    min-width:700px;
}
.banner{
    background-image: url("img/header-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 250px;
}

.wrapper{
    width: 100%;
    height: 210px;
   
    clear: both;
}
.logotext{ 
    width: 70%;
   /*background-color: blue; */
    height: 150px;
    margin-left:auto;
    margin-right: auto;
  
}
.navigationwrapper{
    width:100%;
    background-color: #364a62;
    height: 45px;
    float: left;
    clear: both;
    min-width:100px;
}
.logotextwrapper{
   /*background-color:white; */
    float: left;
    width:35%;
    height:70px;
    margin-top: 60px;
    min-width: 331px;
}
.logotextwrapper text{
    font-family:Kunstler Script;
    font-size: 85px;
    padding: 1px;
    width:100%;
    text-shadow:3px 2px 6px grey; 
 
    }
/*}
.logotextwrapper img{
   width:100%;
   height:75px;
}*/
.logopicwrapper{
    width:30%;
    /*background-color:white;*/
    float: right;
    margin-top:105px;
    height:40px;
}

.logopicwrapper jeje1{
    width:100%;
    height:40px;
    /*background-color:green;*/
    float:right;
  
}
.logopicwrapper jeje1 img{
    width:12%;
    height:auto;
    float:right;
    padding-right:5px;
}
.logopicwrapper jeje1 img:hover{
   -moz-transform: scale(1.30,1.30);
	-o-transform: scale(1.30,1.30);
	-webkit-transform:scale(1.30,1.30);
	transform: scale(1.30,1.30);
  
}


/*  NAVIGATION  */
.navigationwrapper nav{
    text-decoration-style: none;
    width:79%;
    margin-left:130px;
    margin-right:130px;
    /*margin-left:auto;*/
    /*margin-right: auto;*/
    min-width:1000px;

}
.navigationwrapper nav ul{
    height:30px;    
     color:white;
}

.navigationwrapper nav ul li{
   display:inline;
   font-family: Arial;
   font-size:18px; 
   color:white;
      padding-left:35px;
    padding-right:35px;
   text-align:center;
}
.navigationwrapper a:link{
   text-decoration:none;
   color:white;
}

.navigationwrapper a:hover{
   color:lightgray;
   background-color:#F8F8FF;
   color:#4a4949;
   
   /*color: #F8F8FF;*/
   padding-bottom:10px;
   padding-top:10px;
    padding-left:55px;
    padding-right:55px;
     border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    /*border-bottom-left-radius: 7px;*/
    /*border-bottom-right-radius: 7px;*/
    /*border-bottom:1px solid #F8F8FF;*/
    /*border-top:1px solid #F8F8FF;*/
}

.navigationwrapper nav ul li a.active {
	background-color:#F8F8FF;
    color:  #394d65;
   padding-top:10px;
   padding-left:55px;
    padding-right:55px;
  
   padding-bottom:10px;
  
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
   /* background: rgba(255, 255, 255, 10.0);  */
}
.navigationwrapper nav ul li a, navigation nav ul li a:visited{
    color: white;
    text-decoration: none;
     padding-left:55px;
    padding-right:55px;
   
}

/*  CONTENT  */

.wrapper2{
	 padding-top:1px;
    background-color:#e3e0e0;
    height:auto;
    width:100%;
}
.wrappercontent{
    width:77%;
    height:630px;
  /* background-color:black; */
    margin-left:auto;
    margin-right:auto;
    
}
.content{
    float:left;
    height:650px;
    width:30%;
    background-color:#394d65;
    margin-top:25px;
    
}
.blahh{
    box-shadow: 5px 5px 5px grey;
    margin-top:20px;
    margin-left:48px;
    background-color: #F8F8FF;
    /*background: rgba(250, 250, 250, 0.7);*/
    width:25%;
    height:340x;
    padding-top:5px;
}
.blahh span{
    
    padding-top:5px;
    margin-top:8px;
    color:gray;
    margin-left:30px;
    /*background-color: black;*/
    font-family: Arial;
    font-size:30px;
    height:40px;
}
.blahhh{
    float:left;
    margin-top:40px;
    margin-left:48px;
    background-color: #F8F8FF;
    /*background: rgba(250, 250, 250, 0.7);*/
    width:80%;
    height:34x;
    padding-top:5px;
}
.blahhh:hover{
    box-shadow: 5px 5px 5px grey;
}
.blahhh span2{
    padding-top:5px;
    margin-top:10px;
    color:gray;
    margin-left:30px;
    /*background-color: black;*/
    font-family: Arial;
    font-size:30px;
    height:40px;
}

.blahhhh{
    float:left;
    margin-top:20px;
    margin-left:48px;
    background-color: #F8F8FF;
    /*background: rgba(250, 250, 250, 0.7);*/
    width:100%;
    height:34px;
    padding-top:5px;
}
.blahhhh:hover{
    box-shadow: 5px 5px 5px grey;
}
.blahhhh span3{
    padding-top:5px;
    margin-top:10px;
    color:gray;
    margin-left:30px;
    /*background-color: black;*/
    font-family: Arial;
    font-size:30px;
    height:40px;
}
.wrapperblah{
    height:auto;
    width:25%;;
    float:left;
}
.picture{
    float:left;
    height:130px;
    width:100%;
    /* background-color:black; */
    margin-top:10px;
    
}
.picture img{
    width:100%;
    margin-top:10px;
    
}

.job{
    float:left;
    height:230px;
    width:100%;
   /* background-color:black; */
    margin-top:10px;
    margin-left:20px;
    
}
.job img{
    width:100%;
    margin-top:10px;
    
}

.quote{
    float:left;
    height:250px;
    width:100%;
   /* background-color:black; */
    margin-top:10px;
   
}
.quote img{
    width:70%;
    margin-top:10px;
    height:250px;
     margin-left:40px;
 
}
.ez{
    width:68%;
    height:40px;
    /*background-color:blue;*/
    float:right;
    margin-top:40px;
    color:#4a4949;
     font-size:30px;
     font-family:Arial;
     
    
     letter-spacing: 0px;
}
.ez text{
     color:#4a4949;
     font-size:30px;
     font-family:Arial;
     float:left;
     margin-left:16px;
     letter-spacing: 0px;
}

.wrappicture{
    float:right;
    width:68%;
    /*background-color: red;*/
}
.picture1{
    background-image: url("img/lineart.jpg");
    background-size:100% 230px;
    float:left;
    height:230px;
    width:49%;
    background-color:white;
    margin-top:10px;
   
}

.picture1:hover{
	-moz-transform: scale(1.10,1.10);
	-o-transform: scale(1.10,1.10);
	-webkit-transform: scale(1.10,1.10);
	transform: scale(1.10,1.10);
    border-radius:8px 8px;
    
}

.picture2{
    background-image: url("img/final.png");
    background-size:100% auto;
    float:right;
    height:230px;
    width:49.5%;
    background-color:white;
    margin-top:10px;
    
}
.picture2:hover{
	-moz-transform: scale(1.10,1.10);
	-o-transform: scale(1.10,1.10);
	-webkit-transform: scale(1.10,1.10);
	transform: scale(1.10,1.10);
    border-radius:8px 8px;
}

.wrappicture2{
    float:right;
    width:68%;
    /*background-color: green;*/
}
.picture3{
    background-image: url("img/avril.jpg");
    background-size:100% 342px;
    float:left;
    height:342px;
    width:68.5%;
    /*background-color:white;*/
    margin-top:8px;
    
}
.picture3:hover{
	-moz-transform: scale(1.10,1.10);
	-o-transform: scale(1.10,1.10);
	-webkit-transform: scale(1.10,1.10);
	transform: scale(1.10,1.10);
    border-radius:8px 8px;
}
.blah{
    width:30%;
    height:336px;
   /* background-color: yellow; */
    float:right;
}
.picture4{
    background-image: url("img/franky.jpg");
    background-size:100% 170px;
    float:right;
    height:168px;
    width:100%;
   /* background-color:white; */
    margin-top:8px;
    
}
.picture4:hover{
	-moz-transform: scale(1.10,1.10);
	-o-transform: scale(1.10,1.10);
	-webkit-transform: scale(1.10,1.10);
	transform: scale(1.10,1.10);
    border-radius:8px 8px;
}

.picture5{
    background-image: url("img/jinx.jpg");
    background-size:100% 170px;
    float:right;
    height:168px;
    width:100%;
    background-color:white;
    margin-top:8px;
    
}
.picture5:hover{
	-moz-transform: scale(1.10,1.10);
	-o-transform: scale(1.10,1.10);
	-webkit-transform: scale(1.10,1.10);
	transform: scale(1.10,1.10);
    border-radius:8px 8px;
}
/*FOOTER*/
.footer{
    clear:both;
    height:80px;
    width:100%;
    background-color:#394d65;
   
}
.footerwrapper{
    /*background-color:white;*/
    width:70%;
    margin-left:auto;
    margin-right:auto;
    
}
.foter{
    /*background-color:white;*/
    font-family: Arial;
    font-size:14px;
    margin-top:10px;
    padding-bottom:8px;
    color:white;
    float:left;
    width:50%;
    margin-right:auto;
    height:65px;
    line-height:1.5em;
}
.foter2{
     /*background-color:white;*/
    font-family: Courier New, Courier, monospace;
    font-size:15px;
    margin-top:10px;
    margin-bottom:3px;
    color:white;
    float:right;
    width:40%;
    height:30px;
}



/* CONTACT  */
.contentwrapper{
    
    width:65%;
    float:right;
   /*background-color: blue;*/
}

 .box1{
    height:180px;
    width:100%;
    margin-left:20px;
    float:right;
    
}
.box1 .box{
    background-color: yellow;
    
    width:100%;
    padding-top:30px;
    border-radius:8px 8px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 5px grey;
  
}
.box text1{
    font-family:arial;
    font-size:17px;
    color:gray;
    margin-left:5px;
}
.formwrapper{
    /*background-color: black;*/
    height:330px;
    width:100%;
    float:right;
    margin-top:60px;
}
.formm{
    /*background-color: black;*/
   
    width:100%;
    float:right;
    padding-top:5px;
    border-radius:8px 8px;
    background: rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 5px grey;
}
.formm form{
    margin-top:15px;
   color:gray;
    font-family: arial;
    font-size:17px;
}

/*  ABOUT  */
.background{
    background-color: yellow;
    width:100%;
    height:500px;
    float:left;
    margin-top:50px;
}

.gallery{
    margin-top:30px;
}